{
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "TestDbConnection": "Host=localhost; Database=test; Username=test; Password=password;"
  },
  "FMPKey": <FMP API KEY>,
  "JWT": {
    "Issuer": "http://localhost:5432",
    "Audience": "http://localhost:5432",
    "SigningKey": <GENERATE SIGNING KEY>
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}